asttokens==2.0.8
attrs==22.1.0
backcall==0.2.0
cffi==1.15.1
contourpy==1.0.5
coverage==6.4.4
cryptography==38.0.1
cycler==0.11.0
Cython==0.29.32
decorator==5.1.1
executing==1.1.0
flake8==5.0.4
fonttools==4.37.3
iniconfig==1.1.1
ipython==8.5.0
jedi==0.18.1
kiwisolver==1.4.4
matplotlib==3.6.0
matplotlib-inline==0.1.6
mccabe==0.7.0
mock==4.0.3
numpy==1.23.3
packaging==21.3
parso==0.8.3
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.2.0
pluggy==1.0.0
prompt-toolkit==3.0.31
ptyprocess==0.7.0
pure-eval==0.2.2
py==1.11.0
pycodestyle==2.9.1
pycparser==2.21
pyflakes==2.5.0
Pygments==2.13.0
pyparsing==3.0.9
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
PyX==0.15
scapy==2.4.5
six==1.16.0
stack-data==0.5.1
tomli==2.0.1
traitlets==5.4.0
wcwidth==0.2.5
python-libpcap==0.4.0
